{% extends 'pssapp/basic.html' %}
{% block title %}Home | Prudent Services and Solutions{% endblock %}
{% block css %}
.imgsze{
    width:1200px;
    height:600px;
}

.margg1{
    padding:3rem!important;
}
@media (min-width: 1200px)
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1100px;
}

.sec1{
    background-color:rgb(57, 57, 120);
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:1rem;
}
.gitl1{
    font-size:2.8rem;
    color:white;
    padding-left:6rem;
    font-family: 'Playfair Display', serif;
}
.gitl2{
    background-color:rgb(161, 65, 65);
    padding-top:2rem;
    padding-bottom:2rem;
    padding-left:4rem;
    padding-right:4rem;
}
.imgsze1 img{
  max-height:250px;
}
.sec3{
  display:flex;
  justify-content:space-around;
  align-items:center;
  margin-bottom:4rem;
  background-color:grey;
}
.sec3 span{
  font-size:1.8rem;
  font-family: 'Playfair Display', serif;
  color:yellow;
}
.imgsze2 img{
  padding:10px;
  max-height:100px;
}
{% endblock %}
{% block body %}
<div class="container margg1">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active imgsze">
            <img src="/media/profile_pics/image-001.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item imgsze">
            <img src="/media/profile_pics/image-018.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item imgsze">
            <img src="/media/profile_pics/image-777.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>

<section class="sec1">
    <div class="gitl1">
        HONOR | COURAGE | COMMITMENT
    </div>
    <div class="gitl2">
        <a href="/pssapp/contact/" class="linkstyle">Get in Touch</a>
    </div>
</section>
<section class="sec2">
  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm imgsze1">
            <img src="/media/profile_pics/image-999.jpg" alt="">
            <div class="card-body">
              <h5>About Us</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary abtus">Read More</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm imgsze1">
            <img src="/media/profile_pics/image-998.jpg" alt="">
            <div class="card-body">
              <h5>Our Processes</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary ourp">Read More</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm imgsze1">
            <img src="/media/profile_pics/image-997.jpg" alt="">
            <div class="card-body">
              <h5>Valued Customers</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary valcus">Read More</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
<section class="sec3">
  <span>ISO 9001:2015 (QUALITY MANAGEMENT SYSTEM)</span>
  <div class="imgsze2">
    <img src="/media/profile_pics/image-011.jpg" alt="">
    <img src="/media/profile_pics/image-008.jpg" alt="">
    <img src="/media/profile_pics/image-005.jpg" alt="">
  </div>
</section>
<section class="sec4">
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Contact Us</h3>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="/pssapp/contact/" class="icon-link gap-1 icon-link-hover stretched-link">
            Know more
            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
          </a>
        </div>
        <div class="col-auto d-none d-lg-block imgsze1">
          <img src="/media/profile_pics/image-996.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Careers</h3>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="/pssapp/careers/" class="icon-link gap-1 icon-link-hover stretched-link">
            Know more
            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
          </a>
        </div>
        <div class="col-auto d-none d-lg-block imgsze1">
          <img src="/media/profile_pics/image-995.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block js %}
$(".abtus").click(function(){
  window.location.href = '/pssapp/about/';
})
$(".ourp").click(function(){
  window.location.href = '/pssapp/ourprocesses/';
})
$(".valcus").click(function(){
  window.location.href = '/pssapp/valuedpartners/';
})
{% endblock %}