{% extends 'pssapp/basic.html' %}
{% block title %}Our Process | Prudent Processes and Solutions{% endblock %}
{% block css %}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 6rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
#sec1{
    margin-left:2rem;
    margin-bottom:5rem;
}
#sec1 h2{
    font-family: 'Playfair Display', serif;
    Font-weight:bold;
    color:rgb(57, 57, 120);
    border-bottom:3px solid rgb(161, 65, 65);
    margin-right:2rem;
    margin-top:4rem;
}
.vision h5{
    color:rgb(57, 57, 120);

}
.mission h5{
    color:rgb(57, 57, 120);
}
#sec2{
    marging-top:1rem;
    margin-left:2rem;
    display:flex;
    justify-content:center;
    align-items:center;
}
#sec2 div h4{
    margin-top:1rem;
    color:rgb(57, 57, 120);
    text-decoration:underline;
}
#sec2 img{
    margin:0 4rem;
}
#sec2 div strong{
    margin-top:2rem;
}
#sec3{
    margin-left:2rem;
    marging-top:1rem;
    display:flex;
    justify-content:center;
    align-items:center;
}
#sec3 div h4{
    marging-top:1rem;
    color:rgb(57, 57, 120);
    text-decoration:underline;
}
#sec3 div strong{
    margin-top:2rem;
}
#sec3 img{
    margin:0 4rem;
}
#sec4{
    margin-left:2rem;
    marging-top:1rem;
    display:flex;
    justify-content:center;
    align-items:center;
}
#sec4 div h4{
    marging-top:1rem;
    color:rgb(57, 57, 120);
    text-decoration:underline;
}
#sec4 div strong{
    margin-top:2rem;
}
#sec4 img{
    margin:0 4rem;
}
#sec5{
    margin-left:2rem;
    marging-top:1rem;
}
#sec5 h4{
    marging-top:1rem;
    color:rgb(57, 57, 120);
    text-decoration:underline;
}
#sec5 strong{
    margin-top:2rem;
}
#sec5 img{
    max-height:600px;
}
#sec6{
    margin-left:2rem;
    marging-top:1rem;
}
#sec6 h4{
    marging-top:1rem;
    color:rgb(57, 57, 120);
    text-decoration:underline;
}
#sec6 strong{
    margin-top:2rem;
}
#sec6 img{
    max-height:600px;
    margin-left:7rem;
}
#sec7{
    margin-left:2rem;
    marging-top:1rem;
}
#sec7 h4{
    marging-top:1rem;
    color:rgb(57, 57, 120);
    text-decoration:underline;
}
#sec7 strong{
    margin-top:2rem;
}
#sec7 img{
    max-height:600px;
    margin-left:7rem;
}
#sec8{
    margin-left:2rem;
    marging-top:1rem;
}
#sec8 h4{
    marging-top:1rem;
    color:rgb(57, 57, 120);
    text-decoration:underline;
}
#sec8 strong{
    margin-top:2rem;
}
#sec8 p ul li {
    margin: 0.5rem 0;
}
#sec9{
    margin-left:2rem;
    marging-top:1rem;
}
#sec9 h4{
    marging-top:1rem;
    color:rgb(57, 57, 120);
    text-decoration:underline;
}
#sec9 strong{
    margin-top:2rem;
}
#sec9 p ul li {
    margin: 0.5rem 0;
}
#sec10{
    margin-left:2rem;
    marging-top:1rem;
}
#sec10 h4{
    marging-top:1rem;
    color:rgb(57, 57, 120);
    text-decoration:underline;
}
#sec10 strong{
    margin-top:2rem;
}
#sec10 img{
    max-height:600px;
    margin-left:7rem;
}
#sec11{
    margin-left:2rem;
    marging-top:1rem;
    margin-bottom:5rem;
}
#sec11 h4{
    marging-top:1rem;
    color:rgb(57, 57, 120);
    text-decoration:underline;
}
#sec11 strong{
    margin-top:2rem;
}
#sec11 p ul li {
    margin: 0.5rem 0;
}
{% endblock %}
{% block body %}
<section id="sec1">
    <h2 id="maintxt">
        
    </h2>
    <!-- <div class="vision">
        <h5>Our Vision</h5>
        <p>To emerge as trusted security solution partner for complete security solutions
            from man guarding services to electronic & cyber security services in India.
            </p>
    </div> -->
    <!-- <div class="mission">
        <h5>Our Mission</h5>
        <p>To strive towards delighting our employees, partners & customers by providing
            committed, ethical, cost effective and efficient services by maintaining a safe &
            secure environment with constantly adding values through innovation and
            upgradation of our skills in our services .</p>
    </div> -->
</section>
<section id="sec2">
    <div>
        <h4>Man Guarding</h4>
    <strong>HIRING/RECRUITMENT PROCESSES</strong>
    <p>We select candidates through a stringent selection 
        process that includes references & background 
        checks. We maintain records of their testimonials, id 
        proofs and other relevant documents.</p>
    <strong>TRAINING PROCESSES</strong>
    <p>We frequently train our employees during their job 
        to meet as per their job role / industry specific 
        requirements. Our training program is flexible and is 
        customized to meet individual client needs.
        </p>
    </div>
    <img src="/media/profile_pics/image-990.jpg" alt="" width="400px">
</section>
<section id="sec3">
    <div>
        <h4>Training & Rewards</h4>
    <p>Prudent provides different types of customized training to their employees
        to meet the site-specific, region specific & role specific requirements, the
        module of the training Includes the
        basic guarding training & On the Job
        Training (OJT) with recognition and
        reward & of their efforts.
        </p>
    <strong>SOME OF THE BASIC TRAINING TOPICS:</strong>
    <p>
        <ul>
            <li>Fire Prevention & Fire Fighting</li>
            <li>Fire Prevention & Fire Fighting</li>
            <li>Traffic Control</li>
            <li>Basic Security Procedures & SOP based</li>
            <li>Report Writing</li>
            <li>Frisking & Searching</li>
            <li>Health & Safety</li>
            <li>Emergency responses & Preparedness</li>
            <li>Effective Communication</li>
            <li>Drill & Discipline</li>
            <li>Basic Labor Laws</li>
            <li>Tasks & Duties</li>
            <li>Supervisory Trainings</li>
            <li>Threat Perceptions</li>
        </ul>
        </p>
    </div>
    <img src="/media/profile_pics/image-989.png" alt="" width="400px">
    
</section>
<section id="sec4">
    <div>
        <h4>Health & Safety</h4>
    
        <p>Along with business growth, Prudent strongly believe
            to maintain health & safety for their employees at all
            levels. Feeling safe at work is a top priority for overall
            job satisfaction and employee retention. To maintain a
            safe workplace Prudent also provides safety and
            security training.</p>
        <strong>1.) TOOL BOX TALK</strong>
        <p>Safety toolbox talks are short 5 - 15
            minutes safety talks & Videos that refresh
            knowledge. And they’re an excellent way to keep
            safety front of mind for employees. It is done during
            visits by Prudent Officials regularly at sites.
            
            </p>
        <strong>2.) SAFETY WALK AND TALK(SWAT)</strong>
        <p>Safety walks are
            just a observational walks where we find hazard
            and risk for employee at work place to prevent
            minor/major accidents. Done by Prudent officials on
            monthly basis.
                
        </p>
        <strong>3.) HAZARD REPORTING</strong>
        <p> We keep identifying hazards
            from sites to avoid the incidents and major/minor
            accidents at workplace. Priority closure of hazard
            with the help of management and employees
            makes the work place safer.
                
        </p>
    </div>
    <img src="/media/profile_pics/image-988.jpg" alt="" width="400px">
</section>
<section id="sec5">
    <h4>Guiding Principles</h4>
    <img src="/media/profile_pics/guidingprinciples.jpeg" alt="">
</section>
<section id="sec6">
    <h4>Operational Processes</h4>
    <img src="/media/profile_pics/opprocceses.jpeg" alt="">
    
</section>
<section id="sec7">
    <h4>Review Processes</h4>
    <img src="/media/profile_pics/revprocceses.jpeg" alt="">
    
</section>
<section id="sec8">
    <h4>Statutory Compliances</h4>
    <p>
        <ul>
            <li>Duly registered under the Shops & Establishments
                Act & Professional Tax.</li>
            <li> Complies to the CGST Act 2017 and the rules there
                under.</li>
            <li> Duly registered under the Employee Provident Fund
                Scheme 1952.</li>
            <li> Duly Registered under Employee State Insurance Act
                1948.</li>
            <li> Duly registered under the Contract Labour
                (Regulation & Abolition) Act 1970</li>
        </ul>
        </p>
    
</section>
<section id="sec9">
    <h4>Compliances Adherence</h4>
    <p>
        <ul>
            <li> Wages will be credited into the individual employees’ bank
                account on or before 7
                th of every month via bank transfer.</li>
            <li>  PF & ESIC will be paid before 15th of every month.</li>
            <li>  GST will be paid before 20th of successive collection month.</li>
            <li>  Employees are paid bonus as per the “Payment of Bonus Act
                1965”.</li>
            <li>  Employees are paid bonus as per the “Payment of Bonus Act
                1965”.</li>
            <li> Payment of Gratuity as per the eligibility as per the Payment
                    of Gratuity Act 1972.</li>
        </ul>
        </p>
    
</section>
<section id="sec10">
    <h4>Value Added Services</h4>
    <img src="/media/profile_pics/vaservices.jpeg" alt="">
    
</section>
<section id="sec11">
    <h4>Service Level Agreement</h4>
    <p>
        <ul style="list-style-type: square;">
            <li>  Daily report to capture attendance, grooming, briefing, rounds & work completion report.</li>
            <li>   Surprise visits by operation team during day & night shift.</li>
            <li>   Monthly & Quarterly performance review with management team.</li>
            <li>  Experience and Certified staff with certified employee records.</li>
            <li> Employee records on-site.</li>
            <li>  Police background verification of deployed staff.</li>
            <li> Escalation Matrix will be shared.</li>
            <li> Site specific training will be given, will share training calendar.</li>
            <li> Site specific SOP will be shared with mutual understanding </li>
            <li>Reward and recognition will be given every quarter.</li>
        </ul>
        </p>
    
</section>

{% endblock %}
{% block js %}
var string = "Our Processes";
var i = 0;

function typeEffect() {
    if (i < string.length) {
        $("#maintxt").html($("#maintxt").html() + string[i]);
        i++;
    } else {
        clearInterval(typingInterval);
    }
}

var typingInterval = setInterval(typeEffect, 100); 
{% endblock %}