{% extends 'pssapp/basic.html' %}
{% block title %}{% endblock %}
{% block css %}
.sec1{
    margin-left:2rem;
    margin-bottom:5rem;
}
.sec1 h2{
    font-family: 'Playfair Display', serif;
    Font-weight:bold;
    color:rgb(57, 57, 120);
    border-bottom:3px solid rgb(161, 65, 65);
    margin-right:2rem;
    margin-top:4rem;
}
.margg1{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}
.margg1 img{
    margin:1rem 4rem;
}
@media (max-width:765px){
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,);
        margin-right: auto;
        margin-left: auto;
    }
    .margg1 div{
        margin-right:50px;
    }
}
{% endblock %}
{% block body %}
<section class="sec1">
    <h2 id="maintxt">
        
    </h2>
</section>
<section id="sec2">
    <div class="container sec">
        <div class="row">
            <div class="col-md-12">
                <div class=" margg1">
                    <div class="col-md-2 col-sm-4 col-6 mb-4">
                        <img src="/media/profile_pics/image-239.png" class="img-fluid" alt="Image 1">
                    </div>
                    <div class="col-md-2 col-sm-4 col-6 mb-4">
                        <img src="/media/profile_pics/image-994.png" class="img-fluid" alt="Image 2">
                    </div>
                    <div class="col-md-2 col-sm-4 col-6 mb-4">
                        <img src="/media/profile_pics/image-244.jpg" class="img-fluid" alt="Image 3">
                    </div>
                    <div class="col-md-2 col-sm-4 col-6 mb-4">
                        <img src="/media/profile_pics/image-240.jpg" class="img-fluid" alt="Image 4">
                    </div>
                    <div class="col-md-2 col-sm-4 col-6 mb-4">
                        <img src="/media/profile_pics/image-993.jpeg" class="img-fluid" alt="Image 5">
                    </div>
                    <div class="col-md-2 col-sm-4 col-6 mb-4">
                        <img src="/media/profile_pics/image-243.jpg" class="img-fluid" alt="Image 6">
                    </div>
                    <div class="col-md-2 col-sm-4 col-6 mb-4">
                        <img src="/media/profile_pics/image-250.png" class="img-fluid" alt="Image 7">
                    </div>
                    <div class="col-md-2 col-sm-4 col-6 mb-4">
                        <img src="/media/profile_pics/image-992.jpeg" class="img-fluid" alt="Image 8">
                    </div>
                    <div class="col-md-2 col-sm-4 col-6 mb-4">
                        <img src="/media/profile_pics/image-255.jpg" class="img-fluid" alt="Image 9">
                    </div>
                    <div class="col-md-2 col-sm-4 col-6 mb-4">
                        <img src="/media/profile_pics/image-257.jpg" class="img-fluid" alt="Image 10">
                    </div>
                    <div class="col-md-2 col-sm-4 col-6 mb-4">
                        <img src="/media/profile_pics/image-258.png" class="img-fluid" alt="Image 11">
                    </div>
                    <div class="col-md-2 col-sm-4 col-6 mb-4">
                        <img src="/media/profile_pics/image-991.jpeg" class="img-fluid" alt="Image 12">
                    </div>
                    <div class="col-md-2 col-sm-4 col-6 mb-4">
                        <img src="/media/profile_pics/image-249.png" class="img-fluid" alt="Image 12">
                    </div>
                    <div class="col-md-2 col-sm-4 col-6 mb-4">
                        <img src="/media/profile_pics/image-262.jpg" class="img-fluid" alt="Image 14">
                    </div>
                    <div class="col-md-2 col-sm-4 col-6 mb-4">
                        <img src="/media/profile_pics/image-256.jpg" class="img-fluid" alt="Image 15">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
{% endblock %}
{% block js %}
var string = "Valued Partners";
var i = 0;

function typeEffect() {
    if (i < string.length) {
        $("#maintxt").html($("#maintxt").html() + string[i]);
        i++;
    } else {
        clearInterval(typingInterval);
    }
}

var typingInterval = setInterval(typeEffect, 100); 
{% endblock %}